In [1]:
#set the columns name to lower case, strip and replace empty spaces
def column_names(df_name):
    new_column_names = [column.strip().lower().replace(" ", "_") for column in df_name.columns]
    df_name.columns = new_column_names

#change the name of a column
def change_column_name(df, old_name, new_name):
    df.rename(columns={old_name: new_name}, inplace=True)
    return df 

#drop one column
def drop_column(df, column):
    df = df.drop(column,axis='columns')
    return df
#drop one row by the index
def drop_row_index(df, df_index):
    df = df.drop(index=df_index)
    return df
#change to numeric 
def to_numeric(df, columns_to_proces):
    for column in columns_to_proces: 
        df[column] = pd.to_numeric(df[column], errors='coerce')

# 1. Cleaning-Data

In [2]:
# Import pandas
import pandas as pd
#from functions import column_names

In [3]:
# Load the datasets
df_pop = pd.read_csv('../Data/Raw data/1. population per country from 1960.csv')
df_co2 = pd.read_csv('../Data/Raw data/1. co2_emissions_kt_by_country.csv')

In [4]:
# Reshape the population dataframe from wide to long format
df_pop = df_pop.melt(id_vars=["Country Name"], var_name="year", value_name="population")

# Correct the column names

In [5]:
# setting the columns names to lower case and eliminating empty spaces
df_pop.column = column_names(df_pop)
df_co2.column = column_names(df_co2)
# Change the country_name to countries so we can merge there
old_name = "country_name"
new_name = "country"
df_pop = change_column_name(df_pop, old_name, new_name)
df_co2 = change_column_name(df_co2, old_name, new_name)
# Rename columns names to be consistent
old_name1 = "value"
new_name1 = "co2_emission"
df_co2 = change_column_name(df_co2, old_name1, new_name1)

# Drop the columns we won't use

In [6]:
column_to_drop = ['country_code']
df_co2 = drop_column(df_co2, column_to_drop)

# 1.1 Null_NaN-Values

### Cleaning Null Values

In [7]:
df_pop.isnull().any()

country       False
year          False
population    False
dtype: bool

In [8]:
df_co2.isnull().any()

country         False
year            False
co2_emission    False
dtype: bool

### Check for NaN values

In [9]:
#check if this is ok
df_pop.isnull().any()

country       False
year          False
population    False
dtype: bool

In [10]:
df_co2.isnull().any()

country         False
year            False
co2_emission    False
dtype: bool

### Drop duplicates

In [11]:
df_pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16758 entries, 0 to 16757
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     16758 non-null  object
 1   year        16758 non-null  object
 2   population  16758 non-null  float64
dtypes: float64(1), object(2)
memory usage: 392.9+ KB

In [12]:
df_pop = df_pop.drop_duplicates()

In [13]:
df_co2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13953 entries, 0 to 13952
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       13953 non-null  object
 1   year          13953 non-null  int64
 2   co2_emission  13953 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 327.2+ KB

In [14]:
df_co2 = df_co2.drop_duplicates()

## Change the data types

In [15]:
#examine the current data types
df_pop.dtypes

country        object
year           object
population    float64
dtype: object

In [16]:
#examine the current data types
df_co2.dtypes

country          object
year              int64
co2_emission    float64
dtype: object

In [17]:
#change the data type to numeric values
pop_columns_to_proces = ['year','population']
to_numeric(df_pop, pop_columns_to_proces)

co2_columns_to_proces = ['year','co2_emission']
to_numeric(df_co2, co2_columns_to_proces)

## Standardize country names

In [18]:
country_name_mapping =  {
    'Afghanistan' : 'Afghanistan',
    'Afghanistan' : 'Afghanistan',
    "Islamic Rep. of', Albania" : 'Albania',
    'Algeria' : 'Algeria',
    'American Samoa' :  'American Samoa', 
    'Andorra' : 'Andorra',
    'Andorra, Principality of': 'Andorra',
    'Angola' : 'Angola',
    'Antigua and Barbuda' : 'Antigua and Barbuda',
    'Argentina' : 'Argentina' ,
    'Armenia' : 'Armenia',
    'Armenia, Rep. of' : 'Armenia',
    'Aruba, Kingdom of the Netherlands' :'Aruba',
    'Australia' : 'Australia',
    'Austria' : 'Austria',
    'Azerbaijan' : 'Azerbaijan',
    'Azerbaijan, Rep. of' : 'Azerbaijan',
    'Bahamas, The' : 'Bahamas',
    'Bahamas, The' : 'Bahamas',
    'Bahrain' : 'Bahrain',
    'Bahrain, Kingdom of' : 'Bahrain',
    'Bangladesh' : 'Bangladesh',
    'Barbados' : 'Barbados',
    'Barbados' : 'Barbados',
    'Belarus' : 'Belarus',
    'Belarus, Rep. of' : 'Belarus',
    'Belgium' : 'Belgium',
    'Belize' :'Belize',
    'Benin' : 'Benin',
    'Bhutan' : 'Bhutan',
    'Bolivia' : 'Bolivia',
    'Bosnia and Herzegovina' : 'Bosnia and Herzegovina',
    'Botswana' : 'Botswana',
    'Brazil' : 'Brazil',
    'British Virgin Islands' : 'British Virgin Islands',
    'Central African Republic' :'Central African Republic',
    'Central African Rep.' : 'Central African Republic',
    'Comoros' : 'Comoros',
    'Comoros, Union of the' : 'Comoros',
    'Congo, Rep.' : 'Congo, Rep.',
    'Congo, Rep. of' : 'Congo, Rep.',
    'Croatia, Rep. of' : 'Croatia',
    'Dominican Republic' : 'Dominican Rep.',
    'Egypt, Arab Rep.' : 'Egypt, Arab Rep. of',
    'Equatorial Guinea, Rep. of' : 'Equatorial Guinea',
    'Eritrea, The State of' : 'Eritrea',
    'Estonia, Rep. of' : 'Estonia',
    'Eswatini, Kingdom of' : 'Eswatini',
    'Ethiopia, The Federal Dem. Rep. of' : 'Ethiopia',
    'Fiji, Rep. of' : 'Fiji',
    'Kazakhstan, Rep. of' : 'Kazakhstan',
    "Korea, Dem. People's Rep. of" :"Korea, Dem. People's Rep.",
    'Korea, Rep. of' : 'Korea, Rep.',
    'Kyrgyz Republic' : 'Kyrgyz Rep.',
    "Lao People's Dem. Rep." : 'Lao PDR',
    'Lesotho, Kingdom of' : 'Lesotho',
    'Marshall Islands, Rep. of the' : 'Marshall Islands',
    'Mauritania, Islamic Rep. of' : 'Mauritania',
    'Micronesia, Federated States of' : 'Micronesia',
    'Micronesia, Fed. Sts.' : 'Micronesia',
    'Moldova, Rep. of' : 'Moldova',
    'Mozambique, Rep. of' : 'Mozambique',
    'Nauru, Rep. of' : 'Nauru',
    'Netherlands, The' : 'Netherlands',
    'North Macedonia, Republic of' : 'North Macedonia',
    'Palau, Rep. of' : 'Palau',
    'Poland, Rep. of' : 'Poland',
    'San Marino, Rep. of' : 'San Marino', 
    'Serbia, Rep. of' : 'Serbia',
    'Slovak Rep.': 'Slovak',
    'South Sudan, Rep. of' : 'South Sudan',
    'Syrian Arab Republic' : 'Syrian Arab Rep',
    'Tajikistan, Rep. of' : 'Tajikistan',
    'Tanzania, United Rep. of' : 'Tanzania',
    'Timor-Leste, Dem. Rep. of' : 'Timor-Leste',
    'Turkiye' : 'Turkey',
    "Viet Nam": "Vietnam", 
    "Türkiye": "Turkey",
    'Virgin Islands (U.S.)' : 'United States Virgin Islands',
    'Uzbekistan, Rep. of' : 'Uzbekistan',
    'Venezuela, Rep. Bolivariana de' : 'Venezuela',
    'West Bank and Gaza' : 'Palestine',
    'Yemen, Rep. of' : 'Yemen, Rep.',
    }

In [19]:
df_pop['country'] = df_pop['country'].replace(country_name_mapping)
df_co2['country'] = df_co2['country'].replace(country_name_mapping)

# Final check for discrepancies

In [20]:
# Final check for discrepancies
unique_countries_pop = set(df_pop['country'].unique())
unique_countries_co2 = set(df_co2['country'].unique())

# Find remaining discrepancies
final_discrepancies = unique_countries_pop.symmetric_difference(unique_countries_co2)

In [21]:
# Display final discrepancies (should be empty)
print(final_discrepancies)  # Should be empty

{'Guam', 'St. Martin (French part)', 'Puerto Rico', 'Isle of Man', 'Not classified', 'Channel Islands', 'San Marino', 'Northern Mariana Islands', 'Monaco', 'American Samoa', 'United States Virgin Islands'}

# Merge the data frames

In [22]:
# Merge the two dataframes on country and year
data = pd.merge(df_pop, df_co2, on=['country', 'year'], how='inner')

# Display the first few rows of the merged dataframe
print(data.head())

# Save the merged dataframe to a CSV file
data.to_csv('../Data/Clean Data/merged_population_co2.csv', index=False)

                       country  year   population   co2_emission
0                        Aruba  1960      54608.0   11092.675000
1  Africa Eastern and Southern  1960  130692579.0  118545.901306
2                  Afghanistan  1960    8622466.0     414.371000
3   Africa Western and Central  1960   97256290.0    8760.463000
4                       Angola  1960    5357195.0     550.050000

In [23]:
print(list(data.year.unique()))

[1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [24]:
years_to_drop = [1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983,
                1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998]

# Ensure row_to_drop is initialized (if applicable)
row_to_drop = None  # Or set it to the actual index you want to drop (if using drop_row_index)

# Filter by year values (assuming 'year' is the column name)
data = data[~data['year'].isin(years_to_drop)]  # Invert for rows to keep

# Print the modified DataFrame
data.year.unique()

array([1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

# Recheck the values in the new dataframe

In [25]:
#check for nan, null and duplicates
data.isnull().any()

country         False
year            False
population      False
co2_emission    False
dtype: bool

In [26]:
data.isna().any()

country         False
year            False
population      False
co2_emission    False
dtype: bool

In [27]:
data.duplicated().any()

False

In [28]:
# save the cleaned data to a new CSV file
data.to_csv('../Data/Clean Data/1. co2_population_cleaned.csv', index=False)
data

                           country  year   population   co2_emission
8683                         Aruba  1999      86867.0     810.407000
8684   Africa Eastern and Southern  1999  391486231.0  351070.000000
8685                   Afghanistan  1999   19262847.0     810.000000
8686    Africa Western and Central  1999  262397030.0  133013.187487
8687                        Angola  1999   15870753.0   17610.000000
...                            ...   ...          ...            ...
13948                        Samoa  2019     211905.0     300.000012
13949                  Yemen, Rep.  2019   31546691.0   11100.000381
13950                 South Africa  2019   58087055.0  439640.014648
13951                       Zambia  2019   18380477.0    6800.000191
13952                     Zimbabwe  2019   15354608.0   11760.000229

[5270 rows x 4 columns]