In [1]:
#set the columns name to lower case, strip and replace empty spaces
def column_names(df_name):
    new_column_names = [column.strip().lower().replace(" ", "_") for column in df_name.columns]
    df_name.columns = new_column_names

#change the name of a column
def change_column_name(df, old_name, new_name):
    df.rename(columns={old_name: new_name}, inplace=True)
    return df 

#drop one column
def drop_column(df, column):
    df = df.drop(column,axis='columns')
    return df
#drop one row by the index
def drop_row_index(df, df_index):
    df = df.drop(index=df_index)
    return df
#change to numeric 
def to_numeric(df, columns_to_proces):
    for column in columns_to_proces: 
        df[column] = pd.to_numeric(df[column], errors='coerce')

# **Data merge**

In [2]:
# We have two cleaned data sets, one about the population and CO2 
# emission and one with the temperature, all of them from 1999 to 
# 2019. We will reshaped them and check all the values are ready 
# to be analyzed.

## Import all the libraries we will use

In [3]:
import pandas as pd
import numpy as np

## Import the data sets

In [4]:

df1= pd.read_csv('../Data/Clean Data/1. co2_population_cleaned.csv')
df2= pd.read_csv('../Data/Clean Data/2. Temperature_cleaned.csv')

## Chekout the two data sets

In [5]:
#df1: Population and CO2 emissions

df1

                          country  year   population   co2_emission
0                           Aruba  1999      86867.0     810.407000
1     Africa Eastern and Southern  1999  391486231.0  351070.000000
2                     Afghanistan  1999   19262847.0     810.000000
3      Africa Western and Central  1999  262397030.0  133013.187487
4                          Angola  1999   15870753.0   17610.000000
...                           ...   ...          ...            ...
5265                        Samoa  2019     211905.0     300.000012
5266                  Yemen, Rep.  2019   31546691.0   11100.000381
5267                 South Africa  2019   58087055.0  439640.014648
5268                       Zambia  2019   18380477.0    6800.000191
5269                     Zimbabwe  2019   15354608.0   11760.000229

[5270 rows x 4 columns]

In [6]:
# df2: Earth temperature dataset
df2

                           country  year  temperature_change
0     Afghanistan, Islamic Rep. of  1999               1.301
1                          Albania  1999               0.722
2                          Algeria  1999               1.456
3                   American Samoa  1999               0.243
4                          Andorra  1999               1.020
...                            ...   ...                 ...
4741                     Palestine  2019               1.298
4742                Western Sahara  2019               1.430
4743                         World  2019               1.449
4744                        Zambia  2019               1.295
4745                      Zimbabwe  2019               0.939

[4746 rows x 3 columns]

## Standardize the country names: Ensure consistency in country names.

## Check the name of the countries

In [7]:
country_name_mapping =  {
    'Afghanistan' : 'Afghanistan',
    'Afghanistan' : 'Afghanistan',
    "Islamic Rep. of', Albania" : 'Albania',
    'Algeria' : 'Algeria',
    'American Samoa' :  'American Samoa', 
    'Andorra' : 'Andorra',
    'Andorra, Principality of': 'Andorra',
    'Angola' : 'Angola',
    'Antigua and Barbuda' : 'Antigua and Barbuda',
    'Argentina' : 'Argentina' ,
    'Armenia' : 'Armenia',
    'Armenia, Rep. of' : 'Armenia',
    'Aruba, Kingdom of the Netherlands' :'Aruba',
    'Australia' : 'Australia',
    'Austria' : 'Austria',
    'Azerbaijan' : 'Azerbaijan',
    'Azerbaijan, Rep. of' : 'Azerbaijan',
    'Bahamas, The' : 'Bahamas',
    'Bahamas, The' : 'Bahamas',
    'Bahrain' : 'Bahrain',
    'Bahrain, Kingdom of' : 'Bahrain',
    'Bangladesh' : 'Bangladesh',
    'Barbados' : 'Barbados',
    'Barbados' : 'Barbados',
    'Belarus' : 'Belarus',
    'Belarus, Rep. of' : 'Belarus',
    'Belgium' : 'Belgium',
    'Belize' :'Belize',
    'Benin' : 'Benin',
    'Bhutan' : 'Bhutan',
    'Bolivia' : 'Bolivia',
    'Bosnia and Herzegovina' : 'Bosnia and Herzegovina',
    'Botswana' : 'Botswana',
    'Brazil' : 'Brazil',
    'British Virgin Islands' : 'British Virgin Islands',
    'Central African Republic' :'Central African Republic',
    'Central African Rep.' : 'Central African Republic',
    'Comoros' : 'Comoros',
    'Comoros, Union of the' : 'Comoros',
    'Congo, Rep.' : 'Congo, Rep.',
    'Congo, Rep. of' : 'Congo, Rep.',
    'Croatia, Rep. of' : 'Croatia',
    'Dominican Republic' : 'Dominican Rep.',
    'Egypt, Arab Rep.' : 'Egypt, Arab Rep. of',
    'Equatorial Guinea, Rep. of' : 'Equatorial Guinea',
    'Eritrea, The State of' : 'Eritrea',
    'Estonia, Rep. of' : 'Estonia',
    'Eswatini, Kingdom of' : 'Eswatini',
    'Ethiopia, The Federal Dem. Rep. of' : 'Ethiopia',
    'Fiji, Rep. of' : 'Fiji',
    'Kazakhstan, Rep. of' : 'Kazakhstan',
    "Korea, Dem. People's Rep. of" :"Korea, Dem. People's Rep.",
    'Korea, Rep. of' : 'Korea, Rep.',
    'Kyrgyz Republic' : 'Kyrgyz Rep.',
    "Lao People's Dem. Rep." : 'Lao PDR',
    'Lesotho, Kingdom of' : 'Lesotho',
    'Marshall Islands, Rep. of the' : 'Marshall Islands',
    'Mauritania, Islamic Rep. of' : 'Mauritania',
    'Micronesia, Federated States of' : 'Micronesia',
    'Micronesia, Fed. Sts.' : 'Micronesia',
    'Moldova, Rep. of' : 'Moldova',
    'Mozambique, Rep. of' : 'Mozambique',
    'Nauru, Rep. of' : 'Nauru',
    'Netherlands, The' : 'Netherlands',
    'North Macedonia, Republic of' : 'North Macedonia',
    'Palau, Rep. of' : 'Palau',
    'Poland, Rep. of' : 'Poland',
    'San Marino, Rep. of' : 'San Marino', 
    'Serbia, Rep. of' : 'Serbia',
    'Slovak Rep.': 'Slovak',
    'South Sudan, Rep. of' : 'South Sudan',
    'Syrian Arab Republic' : 'Syrian Arab Rep',
    'Tajikistan, Rep. of' : 'Tajikistan',
    'Tanzania, United Rep. of' : 'Tanzania',
    'Timor-Leste, Dem. Rep. of' : 'Timor-Leste',
    'Turkiye' : 'Turkey',
    "Viet Nam": "Vietnam", 
    "Türkiye": "Turkey",
    'Virgin Islands (U.S.)' : 'United States Virgin Islands',
    'Uzbekistan, Rep. of' : 'Uzbekistan',
    'Venezuela, Rep. Bolivariana de' : 'Venezuela',
    'West Bank and Gaza' : 'Palestine',
    'Yemen, Rep. of' : 'Yemen, Rep.',
    }

In [8]:
df1['country'] = df2['country'].replace(country_name_mapping)

In [9]:
len(df1['country'])

5270

In [10]:
df2['country'] = df1['country'].replace(country_name_mapping)

In [11]:
len(df2['country'])

4746

In [12]:
#droping duplicates
df1.drop_duplicates(subset=['country', 'year'], keep='first', inplace=True)
df2.drop_duplicates(subset=['country', 'year'], keep='first', inplace=True)

# Merge both DataFrames to a new dataset called df3

In [13]:
df3 = pd.merge(df1, df2, on=['country', 'year'], how='inner')
df3

,country,year,population,co2_emission,temperature_change
0,"Afghanistan, Islamic Rep. of",1999,86867.0,810.407000,1.301
1,Albania,1999,391486231.0,351070.000000,0.722
2,Algeria,1999,19262847.0,810.000000,1.456
3,American Samoa,1999,262397030.0,133013.187487,0.243
4,Andorra,1999,15870753.0,17610.000000,1.020
...,...,...,...,...,...
4256,Palestine,2017,643634.0,349.999994,0.821
4257,Western Sahara,2017,7677565.0,939.999998,2.078
4258,World,2017,6266654.0,6380.000114,1.424
4259,Zambia,2017,14864221.0,660.000026,0.721
4260,Zimbabwe,2017,7020858.0,47340.000153,0.116

## Recheck the data

### Check the data types

In [14]:
df3.dtypes

country                object
year                    int64
population            float64
co2_emission          float64
temperature_change    float64
dtype: object

In [15]:
len(df3)

4261

In [16]:
#check for duplicates
df3.duplicated().any()

False

In [17]:
# Remove rows with NaN values
df3.dropna(inplace=True)

In [18]:
# Remove rows where the country name includes the word "world"
df3 = df3[~df3['country'].str.contains(r'world', case=False, regex=True)]

## Setup Data Frame

### Categorize countries: Add a column to categorize countries into Global North and Global South.

In [19]:
# Categorize countries into Global North and Global South

global_north = [
    'United States', 'Canada', 'United Kingdom', 'Germany', 'France', 
    'Italy', 'Japan', 'Australia', 'New Zealand', 'Belgium', 'Netherlands',
    'Sweden', 'Norway', 'Denmark', 'Finland', 'Switzerland', 'Austria', 
    'Ireland', 'Luxembourg'
]

df3['region'] = np.where(df3['country'].isin(global_north), 'Global_North', 'Global_South')

/tmp/ipykernel_127520/2951242910.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['region'] = np.where(df3['country'].isin(global_north), 'Global_North', 'Global_South')

In [20]:
# Categorize countries into Developed and Developing Countries

developed_countries = [ 'Andorra', 'Australia', 'Austria', 'Belgium', 'Canada', 'Denmark', 
    'Finland', 'France', 'Germany', 'Greece', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 
    'Luxembourg', 'Monaco', 'Netherlands', 'New Zealand', 'Norway', 'Portugal', 'San Marino', 
    'Singapore', 'South Korea', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom', 'United States' ]


df3['development_level'] = np.where(df3['country'].isin(developed_countries), 'Developed', 'Developing')

/tmp/ipykernel_127520/2676915888.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['development_level'] = np.where(df3['country'].isin(developed_countries), 'Developed', 'Developing')

In [21]:
# Create a Decade Column
df3['decade'] = (df3['year'] // 10) * 10

/tmp/ipykernel_127520/109064394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['decade'] = (df3['year'] // 10) * 10

# Save the code

In [22]:
# save the cleaned data to a new CSV file
df3.to_csv('../Data/Clean Data/3. Complete_Data_Merged.csv', index=False)

In [23]:
df3

,country,year,population,co2_emission,temperature_change,region,development_level,decade
0,"Afghanistan, Islamic Rep. of",1999,86867.0,810.407000,1.301,Global_South,Developing,1990
1,Albania,1999,391486231.0,351070.000000,0.722,Global_South,Developing,1990
2,Algeria,1999,19262847.0,810.000000,1.456,Global_South,Developing,1990
3,American Samoa,1999,262397030.0,133013.187487,0.243,Global_South,Developing,1990
4,Andorra,1999,15870753.0,17610.000000,1.020,Global_South,Developed,1990
...,...,...,...,...,...,...,...,...
4255,Wallis and Futuna Islands,2017,5612253.0,49139.999390,0.960,Global_South,Developing,2010
4256,Palestine,2017,643634.0,349.999994,0.821,Global_South,Developing,2010
4257,Western Sahara,2017,7677565.0,939.999998,2.078,Global_South,Developing,2010
4259,Zambia,2017,14864221.0,660.000026,0.721,Global_South,Developing,2010
4260,Zimbabwe,2017,7020858.0,47340.000153,0.116,Global_South,Developing,2010

In [24]:
df3.dtypes

country                object
year                    int64
population            float64
co2_emission          float64
temperature_change    float64
region                 object
development_level      object
decade                  int64
dtype: object